# Global
*.env

# Sensitive configs
backend/configs/config.dev.yaml
backend/configs/config.prod.yaml

# Docs
docs/*
docs/
.cursor/*
.cursor/
backend/docs/*
backend/docs/
frontend/docs/*
frontend/docs/
*.mdc
.DS_Store